<html>
 <head>
 <meta charset="utf-8"/>
 </head>
 <body>
  <!-- 
 <div style=" margin-bottom:-100px; float:left; width:45%; border:1px dashed red;" align="left"> 
 <a href="index.php">www.vademano.com</a>
 <img src="view/images/logo_vademano.png" width="100px" height="30px" />
 </div>
 
 <div style="margin-top:20px; float:left; width:45%; border:1px dashed blue;" align="right"></div>
  -->
 <table  style="width:100%;" >
 <tr>
	<td style="font-size: 10px; padding-left : 5px;" align="left"><a href="index.php">www.capremci.com.ec</a></td>
	<td style="font-size: 10px; padding-left: 5px;" align="right">
	<img src="view/images/logo.png" width="100px" height="40px" />
	</td>
 </tr> </table>

 </body>
 </html>