<!DOCTYPE html>
<html>
<head>
<!--  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
-->
<title>{titulopag}</title>
<style type="text/css" media="all">
td {
border:hidden;
}
table {
//border: 1px solid #000000;
}
.container{
    text-align:right;
}
.left{
    float: left;
    background:blue
}
.right{
    float: right;
    background:#ffffff;
}
.center{
    background:green;
    margin:0 auto; 
   display:inline-block
}
</style> 
 </head>
<body>
<div class="container">
    <div class="left">
      
    </div>
    <div class="right">
        <p><img src="view/images/bnf_logo.jpg" alt="no hay imagen" width="200" height="80" /></p>
    </div>
    <div class="center">
        
    </div>
</div>

<div>
<p align="justify">
<b>JUZGADO    DE    COACTIVA    DEL    BANCO    NACIONAL    DE    FOMENTO    EN    LIQUIDACIÓN.-</b>
{CIUDAD}, {FECHA}, a las {HORA}.- Agréguese a los autos el Oficio BNF-LIQ-DCC-2017-1148, 
de fecha 09 de junio de 2017 y la Liquidación No. BNF-LIQ-LQ-GF-2017-02207, S/N a  nombre {COACTIVADOPRI} y 
<b>{GARANTEPRI}</b>,  donde  se  indica  que  el  saldo  de  la  Operacion  No {OPERACION}
, a la fecha de la liquidación es USD.0.00.- En lo principal de conformidad  con el Principio Dispositivo
y con la peticion formulada por Aqui texto de acogerse a la 
<b>LEY ORGÁNICA PARA LA REESTRUCTURACIÓN DE LAS DEUDAS DE LA BANCA PÚBLICA, BANCA CERRADA Y GESTIÓN 
DEL SISTEMA FINANCIERO NACIONAL Y RÉGIMEN DE VALORES, DISPONGO:</b>   
UNO) dejar sin efecto la providencia de suspensión temporal de la acción coactiva dispuesta en Oficio 
BNF-LIQ-DCC-2017-0742 del 21 de abril de 2017.- 
DOS) En amparo al mandato establecido en el Art.1583 numeral 2 del Código Civil,  por no existir valores 
pendientes de pago a la fecha conforme consta en la Liquidación adjunta, se declara extinguida la obligación de 
pago, consecuentemente <b>ORDENO el LEVANTAMIENTO DE TODAS LAS MEDIDAS CAUTELARES</b> dictadas ante las Autoridades competentes 
y existentes en contra de a nombre {COACTIVADOS}, 
{GARANTES}, para cuyo efecto emitanse atentos 
Oficios dirigidos a los señores {DIRIGIDOS}.- Para la práctica de la diligencia se designa {NOTIFICADOR}.- Hecho lo anterior 
ARCHIVESE el proceso.- CUMPLASE.- OFIECIESE, NOTIFIQUESE.-
</p>
</div>
<!-- salto de linea -->
<p>
</p>

<div>
<div style="width:50%; float:left; background:#ffffff; text-align:center;">
<p>Ing. Lorena Cerna Esparza
</p>
<p>
<b>JUEZA DE COACTIVA
BANCO NACIONAL DE FOMENTO 
EN LIQUIDACIÓN</b>
</p>
</div>


<div style="width:50%; float:right; background:#ffffff; text-align:center;">
<p>{NOMBRESEC}
</p>
<p>
<b>{CARGOSEC}</b>
</p>
</div>
</div>

<div>
<div style="width:50%; float:left; background:#ffffff; text-align:center;">
<p>{NOMBREABG}
</p>
<p>
<b>{CARGOABG}</b>
</p>
</div>
<div style="width:50%; float:right; background:#ffffff; text-align:center;">
<p>{NOMBRECIT}
</p>
<p>
<b>{CARGOCIT}</b>
</p>
</div>
</div>
<p></p>

<div>
<div style="width:100%; float:center; background:#ffffff; text-align:center;">
<p align="justify">Proveyó y firmó la providencia que antecede la Ing. Lorena Cerna Esparza, Jueza de Coactiva del 
Banco Nacional de Fomento en Liquidación, en la ciudad de Guayaquil, 25 de abril del 2017 a las 8:20 am.-<b>CERTIFICO</b>.-
</p>

</div>

</div>
<p></p>

<div>
<div style="width:100%; float:center; background:#ffffff; text-align:center;">
<p>{NOMBRESEC}
</p>
<p>
<b>{CARGOSEC}</b>
</p>
</div>

</div>


<div>
<div style="width:100%; float:center; background:#ffffff; text-align:center;">
<p>{RAZON2}
</p>

</div>

</div>

<div>
<div style="width:100%; float:center; background:#ffffff; text-align:center;">
<p>{NOMBRESEC}
</p>
<p>
<b>{CARGOSEC}</b>
</p>
</div>

</div>

<!--
<table width="100%">
    <tr>
        <td style='font-size: 10px; padding: 5px;' align="right">{PAGENO}</td>
    </tr>
</table>
-->


<div>&nbsp;</div>

</body>
</html>